<ion-header>
  <ion-toolbar color="average">
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (category of categories; track category.id) {
      <ion-item>
        <ion-badge slot="start" [style.background]="category.color">
          &nbsp;
        </ion-badge>
        <ion-label>{{ category.name }}</ion-label>
        <ion-button fill="clear" slot="end" (click)="openEditModal(category)">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="end" color="danger" (click)="confirmDelete(category)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    } @empty {
      <ion-item>
        <ion-label color="medium">No hay categorías aún</ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>